<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8" />
	<title>Sistema de Compartilhamento de Vídeos - FLAVYouTube</title>
	<link rel="shortcut icon" href="/media/images/favicon.png" type="image/png" />
	<link rel="stylesheet" type="text/css" href="/media/style.css" />
</head>
<body>
	<div id="header">
		<header id="header-content">
			<h1>
				<img src="/media/images/logo3.png" alt="FLAVYouTube" />
			</h1>
			<nav>
				<ul id="nav">
				{% if logged %}
					<li class="list"><a class="link" href="#">Olá {{ username }}</a></li>
					<li class="list"><a class="link" href="/upload/"><img src="/media/images/video.png">&nbsp;Adicionar Vídeo</a></li>
					<li class="list"><a class="link" href="/logout/"><img src="/media/images/logout.png">&nbsp;Logout</a></li>
				{% else %}
					<li class="list"><a class="link" href="/login/"><img src="/media/images/key.png">&nbsp;Login</a></li>
					<li class="list"><a class="link" href="/subscribe/"><img src="/media/images/add.png">&nbsp;Cadastro</a></li>
				{% endif %}
				</ul>
			</nav>
		</header>
	</div>

	<div id="videoslist" align=center>

		<table border=0 bgcolor=#808080 width=900>
			<tr><td align=center><font face="Arial" size=3 color=white ><b>LISTA DE VÍDEOS</b></font></td></tr>
		</table>

		<table border=0>
			<tr>
			<td align=center width=295 valign=top>

			<table border=0>
				<tr><td align=center bgcolor=#F0F0F0><font color=black size=3><b>MENINO LEVANDO TIRO</b></font></td></tr>
				<tr><td align=center><img src="/media/videos/screenshots/screen.jpg"></td></tr>
				<tr><td align=center><font color=grey size=2>Descrição, esse video é legal pra caralho hein e tal lorem ipsum dol muito bom mermo</font></td></tr>
				
				<tr><td align=right><font color=darkgrey size=2>enviado por <a href="#">flaviorib</a> em 22/12/1989</td></tr>		
			</table>

			</td>
			<td align=center width=295 valign=top>
			<table border=0>
				<tr><td align=center><img src="/media/videos/screenshots/screen.jpg"></td></tr>
				<tr><td align=center><font color=grey size=2>Descrição, esse video é legal pra caralho hein e tal lorem ipsum dol muito bom mermo</font></td></tr>
				
				<tr><td align=right><font color=darkgrey size=2>enviado por <a href="#">flaviorib</a> em 22/12/1989</td></tr>		
			</table>
			</td>
			<td align=center width=295 valign=top>
			<table border=0>
				<tr><td align=center><img src="/media/videos/screenshots/screen.jpg"></td></tr>
				<tr><td align=center><font color=grey size=2>Descrição, esse video é legal pra caralho hein e tal lorem ipsum dol muito bom mermo</font></td></tr>
				
				<tr><td align=right><font color=darkgrey size=2>enviado por <a href="#">flaviorib</a> em 22/12/1989</td></tr>		
			</table>
			</td>
			</tr>
		</table>

	</div>
</body>
</html>
