<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8" />
	<title>Sistema de Compartilhamento de Vídeos - FLAVYouTube</title>
	<link rel="shortcut icon" href="/media/images/favicon.png" type="image/png" />
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>

	<div id="videoslist" align=center>
	<table border=0>
	<tr><td>
		<img src="/media/images/logo2.png">
		<br><br>
	</td>
	<tr>
	<td>
	<form method="POST">
	{% csrf_token %}
	  NOME: <input type="name" name="name" size="16" /><br/>
	  E-MAIL: <input type="email" name="email" size="16" /><br/>
	  LOGIN: <input type="text" name="username" size="16" /><br/>
	  SENHA: <input type="password" name="password" size="15" /><br />
	  <div align="center">
		<br>
	    <p><input type="submit" value="Cadastrar" /></p>
	  </div>
	</form>

	</div>
	</tr>	</tr>
	</table>
</body>
</html>


