<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8" />
	<title>Sistema de Compartilhamento de Vídeos - FLAVYouTube</title>
	<link rel="shortcut icon" href="/media/images/favicon.png" type="image/png" />
	<link rel="stylesheet" type="text/css" href="/media/style.css" />
</head>
<body>
	<div id="header">
		<header id="header-content">
			<h1>
				<a class="link" href="/"><img src="/media/images/logo3.png" alt="FLAVYouTube" /></a>
			</h1>
			<nav>
				<ul id="nav">
				{% if logged %}
					<li class="list"><a class="link" href="#">Olá {{ username }}</a></li>
					<li class="list"><a class="link" href="/upload/"><img src="/media/images/video.png">&nbsp;Adicionar Vídeo</a></li>
					<li class="list"><a class="link" href="/logout/"><img src="/media/images/logout.png">&nbsp;Logout</a></li>
				{% else %}
					<li class="list"><a class="link" href="/login/"><img src="/media/images/key.png">&nbsp;Login</a></li>
					<li class="list"><a class="link" href="/subscribe/"><img src="/media/images/add.png">&nbsp;Cadastro</a></li>
				{% endif %}
				</ul>
			</nav>
		</header>
	</div>

	<div id="videoslist" align=center>

		<table border=0 bgcolor=#808080 width=900>
			<tr><td align=center><font face="Arial" size=3 color=white ><b>{{ video.name }}</b></font></td></tr>
		</table>
		<br>
		<video width="640" height="390" controls="controls">
		  <source src="{{ video.link }}" />
		Your browser does not support the video tag.
		</video>

		<table border=0 width=900>
			<tr><td align=center><font face="Arial" size=2><b>{{ video.description }}</b></font></td></tr>
			<tr><td align=center><font face="Arial" size=2>enviado por <b>{{ video.owner.first_name }}</b> em {{ video.created_on }}</font></td></tr>
		</table>
		
	</div>
</body>
</html>
